body{
    height:100vh;
    width:100vh;
}

.grid{
    border: 0.5px solid black;
    box-sizing: border-box;
    border-right: none;
    border-bottom: none;
    
    
}

.grid:hover{
    background-color: goldenrod;
}

.container{
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    border:1px solid black;
    
   
    
}

.divBtn{
margin: 10px;
display: flex;
}

